body{
    font-family: Calibri, sans-serif;
    color: #183147;
}
input[type="radio"] {
    display: none;
}
.header{
    display: flex;
    justify-content: center;
    & h1{
        .text-red{
            font-family: 'Segoe UI', sans-serif;
            color: red;
        }
    }
}
.main{
    display: flex;
    flex-direction: row-reverse;
}
.filter{
    display: flex;
    justify-content: center;
    margin: 20px;
    .sidebar{
        display: flex;
        flex-direction: column;

        width: 250px;

        padding: 20px;

        border: 1px solid #dde1e3;
        border-radius: 10px;
        background-color: #f6f7f8;
        text-align: center;
        align-items: center;
    }
    .buttons{
        & label{
            cursor: pointer;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        width: 100%;
        max-width: 200px;

        height: 100%;
        max-height: 50px;

        background-color: #e3e6e9;
        font-size: larger;
        border: 1px solid #dde1e3;
        border-radius: 10px;
        margin: 10px;
        transition: background-color 0.3s ease;
    }
    .buttons:hover{
        background-color: #b1b3b5;
    }
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cake,
.biscuit,
.pie,
.tort,
.sirniki{
    .photo-and-name{
        display: flex;
        flex-direction: row;
        padding: 20px;
        & img {
            margin-right: 10px;
            width: 100%;
            max-height: 200px;
            object-fit: cover;
        }
    }
    & hr{
        color: rgba(223, 226, 229, 0.34);
    }
    width: 100%;
    max-width: 500px;
    background-color: #f6f7f8;
    border: 1px solid #dde1e3;
    border-radius: 10px;
    margin: 20px;
    .calories{
        margin-left: 20px;
    }
    transition: box-shadow 0.3s ease;
}
.cake:hover,
.biscuit:hover,
.pie:hover,
.tort:hover,
.sirniki:hover{
    box-shadow: 5px 5px 5px rgba(83, 83, 83, 0.51);
}
.text-bold{
    font-weight: bold;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
@media screen and (max-width: 1200px) {
    .main{
        flex-direction: column;
    }
    .filter{

        width: 100%;
        margin: 20px;
        .sidebar{
            & nav{
                display: none;
            }
            justify-content: center;
            flex-direction: unset;
            flex-wrap: wrap;
            margin-bottom: 20px;

            width: 100%;

            padding: 0;

            border: 0;
            border-radius: 0;
            background-color: transparent;
        }
    }
    .cake,
    .biscuit,
    .pie,
    .tort,
    .sirniki{
        .photo-and-name{
            flex-direction: column;
            padding: 10px;
        }
        .calories,
        & hr{
            display: none;
        }
    }
}
@media screen and (max-width: 730px) {
    .filter{
        .sidebar{
            padding: 0;
            margin-bottom: 50px;
        }
        .buttons{
            margin: 5px;
        }
    }
    .cake,
    .biscuit,
    .pie,
    .tort,
    .sirniki{
        .photo-and-name{
            padding: 0;
        }
        & p{
            display: none;
        }
    }
}

#cake:checked ~ .main > .gallery > .biscuit,
#cake:checked ~ .main > .gallery > .pie,
#cake:checked ~ .main > .gallery > .tort,
#cake:checked ~ .main > .gallery > .sirniki{
    display: none;
}
#biscuit:checked ~ .main > .gallery > .cake,
#biscuit:checked ~ .main > .gallery > .pie,
#biscuit:checked ~ .main > .gallery > .tort,
#biscuit:checked ~ .main > .gallery > .sirniki{
    display: none;
}
#pie:checked ~ .main > .gallery > .cake,
#pie:checked ~ .main > .gallery > .biscuit,
#pie:checked ~ .main > .gallery > .tort,
#pie:checked ~ .main > .gallery > .sirniki{
    display: none;
}
#tort:checked ~ .main > .gallery > .cake,
#tort:checked ~ .main > .gallery > .pie,
#tort:checked ~ .main > .gallery > .biscuit,
#tort:checked ~ .main > .gallery > .sirniki{
    display: none;
}
#sirniki:checked ~ .main > .gallery > .cake,
#sirniki:checked ~ .main > .gallery > .pie,
#sirniki:checked ~ .main > .gallery > .tort,
#sirniki:checked ~ .main > .gallery > .biscuit{
    display: none;
}
